{% extends 'layout.twig' %}
{% block link %}
	<link rel="stylesheet" href="Assets/css/competences.css">
{% endblock %}
{% block content %}
	<main class="container-fluid bg-light pb-4">
		<h1 class="display-5 p-4">Compétences</h1>
		<div
			class="row d-flex justify-content-center ">
			<!--HTML-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">HTML</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f1"></div>
				</div>
			</div>
			<!--CSS-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">CSS</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f2"></div>
				</div>
			</div>
			<!--JAVASCRIPT-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">Javascript</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f3"></div>
				</div>
			</div>
			<!--JS NODE-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">JS Node</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f4"></div>
				</div>
			</div>
			<!--PHP-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">PHP</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f5"></div>
				</div>
			</div>
			<!--SWIFT-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">Swift</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f12"></div>
				</div>
			</div>
			<!--LINUX-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">linux</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f11"></div>
				</div>
			</div>
		<h1 class="display-5 p-4">Outils</h1>
			<!--SQL-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">SQL</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f6"></div>
				</div>
			</div>
			<!--MY SQL WORKBENCH-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">MySQL Workbench</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f7"></div>
				</div>
			</div>
			<!--FIGMA-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">Figma</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f8"></div>
				</div>
			</div>
			<!--DRAW IO-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">draw.io</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f9"></div>
				</div>
			</div>
			<!--BALSAMIQ-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">balsamiq</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f10"></div>
				</div>
			</div>
			<!--BOOTSTRAP-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">Bootstrap</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f13"></div>
				</div>
			</div>
			<!--MongoDB-->
			<div class="card col-lg-3 col-md-3 col-sm-8 col-8 mx-5 mb-3">
				<h3 class="title">MongoDB</h3>
				<div class="bar col-10">
					<div class="emptybar"></div>
					<div class="filledbar" id="f14"></div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
