{% extends 'layout.twig' %}
{% block link %}
    <link rel="stylesheet" href="Assets/css/style.css">
{% endblock %}
{% block content %}
	<main class="container-fluid bg-light pb-4">
		<h1 class="display-5 mb-3 ms-4">Expériences</h1>
			<div class="row justify-content-center">
				<!-- LS Diag-->
				<div class="flip-card col-sm-10 col-md-3 col-lg-3 col-10 p-0 mx-2">
					<div class="flip-card-inner">
						<div class="flip-card-front ">
							<div class="card d-flex flex-column justify-content-center">
								<img class="mx-auto" src="assets/pictures/lsd.jpg" alt="Lapro" style="width:30%">
								<h3 class="mx-auto mt-2">Commercial itinérant</h3>
								<p class="title">2021 (6mois)</p>
								<p>Bouches du Rhône (13)</p>
							</div>
						</div>
						<div class="flip-card-back d-flex flex-column justify-content-center">
							<p>Commercialisation d'analyse de l'air à destination des désamianteurs</p>
							<p>Prospection terrain et téléphonique</p>
							<p>Edition de devis</p>
							<p>Edition de factures</p>
							<p>Suivis commercial</p>
						</div>
					</div>
				</div>
				<!-- Lapro Environnement-->
				<div class="flip-card col-sm-10 col-md-3 col-lg-3 col-10 p-0 mx-2">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<div class="card d-flex flex-column justify-content-center">
								<img class="mx-auto" src="assets/pictures/lapro.png" alt="Lapro" style="width:30%">
								<h3 class="mx-auto mt-2">Commercial itinérant</h3>
								<p class="title">2019 - 2021</p>
								<p>Région PACA et Occitanie</p>
							</div>
						</div>
						<div class="flip-card-back d-flex flex-column justify-content-center">
							<p>Commercialisation de produits de désamiantage</p>
							<p>Prospection terrain et téléphonique</p>
							<p>Edition de devis et factures</p>
							<p>Suivis commercial</p>
							<p>Utilisation d'un CRM</p>
							<p>Gestion d'un salon professionnel</p>
						</div>
					</div>
				</div>
				<!-- rent-->
				<div class="flip-card col-sm-10 col-md-3 col-lg-3 col-10 p-0 mx-2">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<div class="card d-flex flex-column justify-content-center">
								<img class="mx-auto" src="assets/pictures/rent.jpg" alt="Lapro" style="width:30%">
								<h3 class="mx-auto mt-2">Commercial</h3>
								<p class="title">2019</p>
								<p>Marseille (13)</p>
							</div>
						</div>
						<div class="flip-card-back d-flex flex-column justify-content-center">
							<p>Commercialisation de contrat de location
							</p>
							<p>Prospection terrain et téléphonique</p>
							<p>Edition contrat de partenariat</p>
							<p>Edition de contrat de location</p>
							<p>Suivis commercial</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<!-- laad-->
				<div class="flip-card col-sm-10 col-md-3 col-lg-3 col-10 p-0 mx-2">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<div class="card d-flex flex-column justify-content-center">
								<img class="mx-auto" src="assets/pictures/laad.jpg" alt="Lapro" style="width:30%">
								<h3 class="mx-auto mt-2">Auto entrepreneur</h3>
								<p class="title">2016-2018</p>
								<p>Marseille (13)</p>
							</div>
						</div>
						<div class="flip-card-back d-flex flex-column justify-content-center">
							<p>Nettoyage de véhicules</p>
							<p>Prospection terrain et téléphonique</p>
							<p>Edition de devis et factures</p>
							<p>Marketing</p>
							<p>Suivis commercial</p>
						</div>
					</div>
				</div>
				<!-- lip-->
				<div class="flip-card col-sm-10 col-md-3 col-lg-3 col-10 p-0 mx-2">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<div class="card d-flex flex-column justify-content-center">
								<img class="mx-auto" src="assets/pictures/lip.png" alt="Lapro" style="width:30%">
								<h3 class="mx-auto mt-2">Chargé d'affaires</h3>
								<p class="title">2016 - 2017</p>
								<p>Marseille (13)</p>
							</div>
						</div>
						<div class="flip-card-back d-flex flex-column justify-content-center">
							<p>Commercialisation de contrat de partenariat</p>
							<p>Etablissement de proposition commercial</p>
							<p>Edition de devis et factures</p>
							<p>Edition de contrat de travail</p>
							<p>Edition de fiches de paies</p>
							<p>Recrutement d'interimaires</p>
						</div>
					</div>
				</div>
				<!-- hertz-->
				<div class="flip-card col-sm-10 col-md-3 col-lg-3 col-10 p-0 mx-2">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<div class="card d-flex flex-column justify-content-center">
								<img class="mx-auto" src="assets/pictures/hertz.jpg" alt="Lapro" style="width:30%">
								<h3 class="mx-auto mt-2">Chargé de clientèle</h3>
								<p class="title">2015 - 2016</p>
								<p>Lyon (69)</p>
							</div>
						</div>
						<div class="flip-card-back d-flex flex-column justify-content-center">
							<p>location de véhicules de tourisme</p>
							<p>Vente de contrat de location</p>
							<p>Accueil clientèle (comptoir et téléphone)</p>
							<p>Edition de devis</p>
							<p>Edition de factures</p>
							<p>Suivis overdue</p>
						</div>
					</div>
				</div>
			</div>

		</main>
{% endblock %}

