{% extends 'layout.twig' %}
{% block link %}
	<link rel="stylesheet" href="assets/css/formations.css">
{% endblock %}
{% block content %}
	<main class="container-fluid bg-light pb-4">
		<h1 class="display-5 mb-3 ms-4">Formations</h1>
		<div class="row d-flex justify-content-center">
			<!-- Ri7 -->
			<article class="col-lg-3 col-md-4 col-sm-8 col-10 mx-3 mb-4 p-0">
				<div class="container p-0">
					<div id="c1" class="card mx-auto p-0">
						<div class="imgBx">
							<img src="assets/pictures/ri7.png">
						</div>
						<div class="contentBx">
							<h2>Concepteur développeur d'applications
								<span class="badge bg-secondary">En cours</span>
							</h2>
							<div class="ecole mt-5">
								<h3>Ecole Ri7</h3>
							</div>
							<div class="annee">
								<h3>2021 - 2022</h3>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!-- Simplon -->
			<article class="col-lg-3 col-md-4 col-sm-8 col-10 mx-3 mb-4 p-0">
				<div class="container p-0">
					<div id="c2" class="card mx-auto p-0">
						<div class="imgBx">
							<img src="assets/pictures/simplon.svg">
						</div>
						<div class="contentBx">
							<h2>Apple Foundation Program</h2>
							<div class="ecole mt-5">
								<h3>Simplon.co</h3>
							</div>
							<div class="annee">
								<h3>septembre 2021</h3>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!-- BTS -->
			<article class="col-lg-3 col-md-4 col-sm-8 col-10 mx-3 mb-4 p-0">
				<div class="container mb-2 p-0">
					<div id="c3" class="card mx-auto p-0">
						<div class="imgBx">
							<img src="assets/pictures/ara.png">
						</div>
						<div class="contentBx">
							<h2>BTS Négociation et Relation Clientèle</h2>
							<div class="ecole mt-5">
								<h3>Alternance Rhône-Alpes</h3>
							</div>
							<div class="annee">
								<h3>2012</h3>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!-- BAC -->
			<article class="col-lg-3 col-md-4 col-sm-8 col-10 mx-3 mb-4 p-0">
				<div class="container mb-2 p-0">
					<div id="c4" class="card mx-auto p-0">
						<div class="imgBx">
							<img src="assets/pictures/jh.png">
						</div>
						<div class="contentBx">
							<h2>BAC STI Génie Mécanique</h2>
							<div class="ecole mt-5">
								<h3>Lycée Jacob Holtzer</h3>
							</div>
							<div class="annee">
								<h3>2010</h3>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</main>
{% endblock %}
