{% extends 'layout.twig' %}
{% block link %}
 <link rel="stylesheet" href="assets/css/bg.css">
{% endblock %}
{% block content %}
	<main class="row d-flex justify-content-center bg-light pb-4">
		<h1 class="display-5 mb-3 ms-4">Portfolio</h1>
		{# MORPION #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5 p-0">
			<img class="card-img-top" src="assets/pictures/tic-tac-toe.jpg">
			<div class="card-body text-center d-flex flex-column justify-content-end px-0">
				<h5 class="card-title">MORPION</h5>
				<p class="card-text">Jeu de morpion</p>
				<div>
					<a href="http://ylies-azouz.ri7.tech/Morpion/" target="_blank" class="btn btn-success">Demo</a>
					<a href="https://github.com/yliesAzouz/Morpion" target="_blank" class="btn btn-primary">Github</a>
				</div>
			</div>
		</div>
		{# INDEXATION #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5 p-0">
			<img class="card-img-top" src="assets/pictures/search.png">
			<div class="card-body text-center d-flex flex-column justify-content-end  px-0">
				<h5 class="card-title">MOTEUR DE RECHERCHE</h5>
				<p class="card-text">Indexation et recherche</p>
				<div>
					<a href="http://ylies-azouz.ri7.tech:8080/" target="_blank" class="btn btn-success">Demo</a>
					<a href="https://github.com/yliesAzouz/Indexation" target="_blank" class="btn btn-primary">Github</a>
				</div>
			</div>
		</div>
		{# POKEMON #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5 p-0">
			<img class="card-img-top" src="assets/pictures/pokemon.jpg">
			<div class="card-body text-center d-flex flex-column justify-content-end  px-0">
				<h5 class="card-title">POKEDEX</h5>
				<p class="card-text">Collection de pokemons</p>
				<div>
					<a href="http://ylies-azouz.ri7.tech:4200/connexion" target="_blank" class="btn btn-success">Demo</a>
					<a href="https://github.com/yliesAzouz/pokedex" target="_blank" class="btn btn-primary">Github</a>
				</div>
			</div>
		</div>
		{# Calculatrice #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5 p-0">
			<img class="card-img-top" src="assets/pictures/calcul.jpg">
			<div class="card-body text-center d-flex flex-column justify-content-end  px-0">
				<h5 class="card-title">CALCULATRICE</h5>
				<p class="card-text">Mon premiere petit projet</p>
				<div>
					<a href="http://ylies-azouz.ri7.tech/calculatrice/" target="_blank" class="btn btn-success">Demo</a>
					<a href="https://github.com/yliesAzouz/calculatrice" target="_blank" class="btn btn-primary">Github</a>
				</div>
			</div>
		</div>
		{# memcards #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5 p-0">
			<img class="card-img-top" src="assets/pictures/mem_card.jpg">
			<div class="card-body text-center d-flex flex-column justify-content-end  px-0">
				<h5 class="card-title">MEMORY CARDS</h5>
				<p class="card-text">Jeu de mémoire de cartes pokemons</p>
				<div>
					<a href="http://ylies-azouz.ri7.tech/memCards/" target="_blank" class="btn btn-success">Demo</a>
					<a href="https://github.com/yliesAzouz/memCards" target="_blank" class="btn btn-primary">Github</a>
				</div>
			</div>
		</div>

	</main>
{% endblock %}
