{% extends 'layout.twig' %}
{% block link %}
	<link rel="stylesheet" href="Assets/css/contact.css">
{% endblock %}
{% block content %}
	<div class="row d-flex justify-content-center bg-light pb-4">
	<h1 class="display-5 mb-3 ms-4">Portfolio</h1>
		{# MORPION #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5" >
			<img class="card-img-top" src="assets/pictures/morpion.jpeg">
			<div class="card-body text-center">
				<h5 class="card-title">Morpion</h5>
				<h6 class="card-text">HTML / CSS / JS</h6>
				<p class="card-text">Jeu de morpion</p>
				<a href="http://ylies-azouz.ri7.tech/Morpion/" target="_blank" class="btn btn-success">Demo</a>
				<a href="https://github.com/yliesAzouz/Morpion" target="_blank" class="btn btn-primary">Github</a>
			</div>
		</div>
		{# INDEXATION #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5" >
			<img class="card-img-top" src="assets/pictures/search.jpg">
			<div class="card-body text-center">
				<h5 class="card-title">Indexation</h5>
				<h6 class="card-text">HTML / CSS / NodeJS</h6>
				<p class="card-text">Moteur de recherche</p>
				<a href="http://ylies-azouz.ri7.tech:8080/" target="_blank" class="btn btn-success">Demo</a>
				<a href="https://github.com/yliesAzouz/Indexation" target="_blank" class="btn btn-primary">Github</a>
			</div>
		</div>
		{# POKEMON #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5" >
			<img class="card-img-top" src="assets/pictures/pokemon.jpg">
			<div class="card-body text-center">
				<h5 class="card-title">Pokedex</h5>
				<h6 class="card-text">HTML / CSS / NodeJS</h6>
				<p class="card-text">Collection de pokemons</p>
				<a href="http://ylies-azouz.ri7.tech:4200/connexion" target="_blank" class="btn btn-success">Demo</a>
				<a href="https://github.com/yliesAzouz/pokedex" target="_blank" class="btn btn-primary">Github</a>
			</div>
		</div>
		{# Calculatrice #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5" >
			<img class="card-img-top" src="assets/pictures/calculatrice.png">
			<div class="card-body text-center">
				<h5 class="card-title">Calculatrice</h5>
				<h6 class="card-text">HTML / CSS / JS</h6>
				<p class="card-text">Mon premiere petit projet</p>
				<a href="http://ylies-azouz.ri7.tech/calculatrice/" target="_blank" class="btn btn-success">Demo</a>
				<a href="https://github.com/yliesAzouz/calculatrice" target="_blank" class="btn btn-primary">Github</a>
			</div>
		</div>
		{# memcards #}
		<div class="card col-8 col-sm-8 col-md-4 col-lg-3 mx-3 mt-5" >
			<img class="card-img-top" src="assets/pictures/memory.png">
			<div class="card-body text-center">
				<h5 class="card-title">Memory Card</h5>
				<h6 class="card-text">HTML / CSS / JS</h6>
				<p class="card-text">Jeu de mémoire de cartes pokemons</p>
				<a href="http://ylies-azouz.ri7.tech/memCards/" target="_blank" class="btn btn-success">Demo</a>
				<a href="https://github.com/yliesAzouz/memCards" target="_blank" class="btn btn-primary">Github</a>
			</div>
		</div>
		
	</div>
{% endblock %}
