
	main{
		min-height: 85vh;
  		background: url('../pictures/bg.png');
  		background-size: cover;
	}

	body{
		min-height: 100vh;
		display: flex;
  		flex-direction: column;
  		justify-content: space-between;
	}